*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #337bf8;
    color: #fff;
}

/* To center everything in game */
.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* Title of the game */
.title {
    position: absolute;
    top: 20px;
    font-size: 3.5rem;
    z-index: 2;
}

/* Score Board */
.score {
    display: flex;
    width: 40vw;
    justify-content: space-evenly ;
    position: absolute;
    top: 190px;
    z-index: 1;
}

.count {
    text-align: center;
    margin-top: 10px;
}

/* displaying three buttons in one line */
.options { 
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 3rem;  
}

/* Styling on all three buttons */
.rock, .paper, .scissors {
    padding: 0.8rem;
    width: 100px;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 8px;
    background: rgb(77, 30, 187);
    outline: none;
    border-color: rgb(77, 30, 187);
    border: none;
    cursor: pointer;
}

.move {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Reload button style */
.reload {
    display: none;
   margin-top: 2rem;
   padding: .8rem;
   width: 100px;
   background: green;
   outline: none;
   border: none;
   border-radius: 8px;
   cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 1.2rem;
}

/* Responsive Design */
@media screen and (max-width: 612px)
{
    .title {
        text-align: center;
    }
    .score {
        position: absolute;
        top: 200px;
        width: 100vw;
    }
    .options {
        width: 100vw;
    }
}    